<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <script src="{process.env.BROWSER_REFRESH_URL}"></script>
<body>
  <header>
    <%- include('./partials/headerLogIn', {page_name:'login'}) %>
  </header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

  <style>
    .fst-italic {font-family: "Roboto", sans-serif !important; font-weight: 300; font-size: small;}
    form.container{
      width: 800px !important;
    }
  </style>
    <form class="container border"method="post" >
      <input type="hidden" name="_csrf" value="">
        <% if (typeof message != 'undefined') { %>
          <div class="alert alert-content my-2 <%= message.class %>"><%= message.text %> 
          </div>
          <% } %>
        <div style="height: 120px !important;" class="row d-flex justify-content-between mb-0">
            <div class="col-md-9">
              <div class="col-md-3 m-4 w-100">
                <label for="username" class="form-label fw-lighter">Please type your email and hit enter. </label>
                <input type="text" name="email" class="form-control w-50" id="username_input" required>
              </div>
            </div>
            <div class="col-md-3">
            </div>
          </div> 
          <div class="col-12 m-4 py-3">
            <button class="btn btn-light border border-0 btn-md fw-light" style="width: 110px; background-color: #a2a8d3 !important;" id="button_login" type="post">Reset my password.</button>
          </div>
    </form>
        </body>
        <style>
          .alert-content{
            font-size: .7rem !important;
          }
         </style>
  <%- include('./partials/loginJS') %> 
  <%- include('./partials/footerLogSignIn') %>
</html>